appdirs==1.4.3
asgiref==3.2.7
beautifulsoup4==4.6.0
bleach==2.1.4
boto3==1.12.39
botocore==1.15.39
certifi==2019.11.28
chardet==3.0.4
Django==3.0.5
django-autoslug-iplweb==1.9.5
django-bakery==0.12.7
django-cogwheels==0.3
django-cors-headers==3.4.0
django-debug-toolbar==2.2
django-extensions==2.2.9
django-htmlmin==0.11.0
django-modelcluster==5.0.1
django-redis==4.12.1
django-taggit==1.2.0
django-treebeard==4.3.1
djangorestframework==3.11.0
docutils==0.15.2
draftjs-exporter==2.1.7
fs==2.4.11
gunicorn==20.0.4
html5lib==1.0.1
httplib2==0.18.1
idna==2.9
jmespath==0.9.5
l18n==2018.5
lml==0.0.9
Markdown==2.6.11
oauth2client==4.1.3
odfpy==1.3.5
Pillow==6.2.2
psutil==5.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyexcel-io==0.5.20
pyexcel-ods==0.5.3
pysqlite3==0.4.3
python-dateutil==2.8.1
pytz==2019.3
redis==3.5.3
redislite==5.0.165407
requests==2.23.0
rsa==4.6
s3transfer==0.3.3
simplejson==3.17.0
six==1.14.0
sqlparse==0.3.1
Unidecode==1.1.1
urllib3==1.25.8
wagalytics==1.2
wagtail==2.8
wagtail-bakery==0.4.0
wagtail-markdown==0.6
wagtailfontawesome==1.2.1
wagtailmenus==3.0.1
wagtailnetlify==0.4
walrus==0.8.1
Wand==0.6.2
webencodings==0.5.1
whitenoise==5.0.1
Willow==1.3
