{% load static wagtailuserbar %}
{% load wagtailcore_tags cache %}
{% load static wagtailuserbar menu_tags %}
{% get_menu "main" as navigation %}
<!-- {% load wagtailmarkdown %} -->

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- Cyberfeminism Index{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/cyberfem.css' %}">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177281044-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-177281044-1');
        </script>






       <!--  {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %} -->

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'css/favicon_package_v0.16/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'css/favicon_package_v0.16/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'css/favicon_package_v0.16/favicon-16x16.png' %}">
        <!-- <link rel="manifest" href="{% static 'css/favicon_package_v0.16/site.webmanifest' %}"> -->
        <link rel="mask-icon" href="{% static 'css/favicon_package_v0.16/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    </head>

    <body id="main_content" class="{% block body_class %}{% endblock %} green-blur">
        {% wagtailuserbar %}
        <div id="right_content" class="unopened">
            <div id="base_index_list">
                <table id="base_index_table">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="viewdownloads_list" class="hide">
                {% for download in index_viewdownloads %}
                <div id="base_indexdownloads_table">
                    <p>
                        {{ download.quantity }}
                        {% if download.quantity > 1 %}
                            entries
                        {% else %}
                            entry
                        {% endif %}
                        downloaded on {{ download.created_at }}
                    <p>
                </div>
                {% endfor %}
            </div>
            <div id="trail_container">
                <div id="trail_list"></div>

                <div id="download-btns">

                  <button id="download_btn" onclick="create_pdf()">download</button>
                  <button id="view-all-downloads" onclick="view_downloads()">view all downloads</button>

                </div>   

            </div>

        </div>
        

        {% block content %}
        {% endblock %}


        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/cyberfem.js' %}"></script>
    </body>
</html>
